Django
celery
absl-py
djangorestframework
django-widget-tweaks
django-storages
django-filter
social-auth-app-django
django-cors-headers
djangorestframework-simplejwt
mysqlclient
openpyxl
boto3
razorpay
google-genai
tiktoken
groq
langgraph
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
python-dotenv
Pillow
redis
pdfplumber
gunicorn

